@model ProjektRestauracja.Domain.Entities.Order




    <h3>
        <span class="pull-right label label-primary">@Model.OrderValue.ToString("c")</span> 
    </h3>

    <div class="lead">@Model.OrderDateTime</div>

