@{
    ViewBag.Title = "StartPage";


}




    <div class="jumbotron text-center" id="logo" >
        
        <h2>Restauracja</h2>
        <h1>Filip</h1>
        <a href="#aboutus"><span class="glyphicon glyphicon-menu-down"></span></a>

        
    </div>

    <div class="container-fluid" id="aboutus">
        <div class="row">
            <div class="col-sm-6">
                <h2>O nas</h2>
                <p>Nasza firma powstała ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>
                    <small>
                        Naszym celem jest ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </small>
                </p>
            </div>
            <div class="col-sm-6 text-center slideanim hidden-xs">
                <span class="glyphicon glyphicon-glass"></span>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center" id="menu">
        
        <h2>Menu</h2>
            
        
        <div class="row">

            <div class="visible-xs">
                @Html.Action("MenuNav", "Home",new { horizontalLayout = true })

            </div>

            <div class="col-sm-6 hidden-xs">
                @Html.Action("MenuNav","Home")
            </div>

            <div class="col-sm-6" id="products">

                @Html.Action("Menu", "Home")
            </div>
            
        </div>
        
    </div>

    <div class="container-fluid text-center" id="gallery">
    <h2>Galeria</h2>
    <div class="row slideanim">
        <div class="col-lg-4 col-md-6">
            <div class="thumbnail">
                <img src="zdj1.jpg" />
                <p>Nasz lokal jest urządzony w stylu średniowiecznym.</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">

            <div class="thumbnail">
                <img src="zdj2.jpg" />
                <p>Wszędzie jest czysto i super.</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="thumbnail">
                <img src="zdj3.jpg" />
                <p>A na wejściu to już w ogóle.</p>
            </div>
        </div>


    </div>
</div>

    

    <div class="container-fluid text-left" id="contact">

    <h2 class="text-center">Kontakt</h2>
    <div class="row">
        <div class="col-sm-5" id="info">
            <p><b>Restauracja Filip</b></p>
            <p><span class="glyphicon glyphicon-map-marker"></span> ul. Bursztynowa 8</p>
            <p>02-022 Warszawa</p><br />
            <p><b>Godziny otwarcia restauracji:</b></p>
            <p><span class="glyphicon glyphicon-time"></span> Pon.-Nd. 9:00-22:00</p><br />
            <p><span class="glyphicon glyphicon-phone-alt"></span> tel.: (+48)45 646 71 13</p>
            <p><span class="glyphicon glyphicon-envelope"></span> e-mail: contact@restaurantf.pl</p>
        </div>
        <div class="col-sm-7">
            <br class="visible-xs" />
            <p><b>Napisz do nas:</b></p>
            <form class="form-group">

                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" name="name" id="name" class="form-control" placeholder="Imię" required />
                    </div>
                    <div class="col-xs-6">
                        <input type="email" name="email" id="email" class="form-control" placeholder="E-mail" required />
                    </div>
                    <div class="col-xs-12" text-center">
                        <br />
                        <textarea name="message" id="message" class="form-control" placeholder="Wiadomość" rows="8"></textarea><br />
                        <button type="submit" class="btn btn-default">Wyślij</button>
                    </div>
                </div>

            </form>
            <p><b>Znajdź nas na:</b></p>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-google-plus"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>

        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        $(".btn-group a,button:not(.dropdown-toggle)").click(function () {

            $("#menu a,button").attr("class", function (i, origValue) {
                return origValue.replace(" active", "");
            });

            $(this).attr("class", function (i, origValue) {
                return origValue + " active";
            });

            var link = $(this).text();

            link = link.replace(" ", "_");


            $.get(link, function (data, status) {

                $("#products").html(data);

            });
        });
    });

</script>

